.top {
  height: 812px;
  padding-top: 131px;
  background-color: #0e6eaa;
  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  &__header {
    color: #fff;
    font-size: 14px;
    text-shadow: #000 10px 4px 10px;
  }
  &__subheader {
    color: #fff;
    font-size: 62px;
    font-weight: 700;
    line-height: 105.7%;
    margin-bottom: 21px;
    text-shadow: #000 10px 4px 10px;
  }
  &__text {
    color: #fff;
    font-size: 18px;
    text-shadow: #000 10px 4px 10px;
    margin-bottom: 26px;
  }
  &__img {
    padding-top: 100px;
    img {
      width: 879px;
      height: 700px;
    }
    &_sm {
      display: none;
    }
  }
}
