@media (max-width: 1400px) {
  .top {
    height: 612px;
    &__img {
      img {
        width: 500px;
        height: 500px;
      }
    }
  }
}

@media (max-width: 992px) {
  .top {
    height: 512px;
    &__header {
      font-size: 12px;
    }
    &__subheader {
      font-size: 48px;
    }
    &__text {
      font-size: 14px;
    }
    &__img {
      img {
        width: 350px;
        height: 350px;
      }
    }
  }
}

@media (max-width: 767px) {
  .top {
    height: 900px;
    padding-top: 152px;
    text-align: justify;
    &__wrapper {
      flex-direction: column;
    }
    &__subheader {
      font-size: 37px;
    }
    &__descr {
      align-items: center;
      justify-content: inherit;
    }
    &__text {
      text-align: center;
    }
    &__img {
      display: none;
      &_sm {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 0;
        img {
          width: 392.429px;
          height: 445px;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .top {
    height: 750px;

    &__subheader {
      font-size: 30px;
    }
    &__text {
      font-size: 13px;
    }
  }
}

@media (max-width: 440px) {
  .top {
    &__subheader {
      font-size: 24px;
    }
    &__text {
      font-size: 12px;
    }
    &__img {
      &_sm {
        img {
          width: 350px;
          height: 290px;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .top {
    text-align: center;
    &__subheader {
      font-size: 20px;
    }
    &__text {
      font-size: 12px;
    }
    &__img {
      &_sm {
        img {
          width: 320px;
          height: 250px;
        }
      }
    }
  }
}
