<section class="advantages">
  <div class="container text-center h-100">
    <div class="row align-items-center h-100">
      <div class="advantages__item col-md-12 col-lg-4">
        <div class="advantages__img"><img src="img/svg/descr/clock_descr.svg" alt="clock" /></div>
        <h2 class="advantages__title">Круглосуточная поддержка клиентов</h2>
        <h3 class="advantages__descr">Мы на связи с вами все 24 часа 7 дней в неделю!</h3>
      </div>
      <div class="advantages__item col-md-12 col-lg-4">
        <div class="advantages__img"><img src="img/svg/descr/help_descr.svg" alt="help" /></div>
        <h2 class="advantages__title">Доступная стоматологическая помощь</h2>
        <h3 class="advantages__descr">Доступные цены и здоровые зубы для каждого!</h3>
      </div>
      <div class="advantages__item col-md-12 col-lg-4">
        <div class="advantages__img"><img src="img/svg/descr/team_descr.svg" alt="team" /></div>
        <h2 class="advantages__title">Команда талантливых врачей</h2>
        <h3 class="advantages__descr">Наша команда профессионалов ждет вас!</h3>
      </div>
    </div>
  </div>
</section>
