<section class="footer">
  <div class="container h-75 text-center">
    <div class="row align-items-center h-100">
      <div class="footer__info col-md-12 col-lg-4">
        <h3 class="footer__title">Наши услуги</h3>
        <h4 class="footer__line">Отбеливание зубов</h4>
        <h4 class="footer__line">Лечение десен</h4>
        <h4 class="footer__line">Апноэ во сне</h4>
        <h4 class="footer__line">Реставрации</h4>
        <h4 class="footer__line">Дизайн улыбки</h4>
        <h4 class="footer__line">Корневой канал</h4>
        <h4 class="footer__line">Имплантационная стоматология</h4>
        <h4 class="footer__line">Сознательная седация</h4>
        <h4 class="footer__line">Ортодонтия</h4>
      </div>
      <div id="data-info" class="footer__info col-md-12 col-lg-4">
        <h3 class="footer__title">Наши стоматологи</h3>
        <h4 class="footer__line">Игорь Протопский</h4>
        <h4 class="footer__line">Олег Григоревич</h4>
        <h4 class="footer__line">София Грин</h4>
        <h4 class="footer__line">Мария Александровна</h4>
      </div>
      <div class="footer__info col-md-12 col-lg-4">
        <h3 class="footer__title">Часы работы</h3>
        <h4 class="footer__line">Понедельник: 8:30 - 19:00</h4>
        <h4 class="footer__line">Вторник: 8:00 - 19:00</h4>
        <h4 class="footer__line">Среда: 8:00 - 19:00</h4>
        <h4 class="footer__line">Пятница: 10:00 - 16:00</h4>
        <h4 class="footer__line">Суббота: выходной</h4>
        <h4 class="footer__line">Воскресенье: выходной</h4>
      </div>
      <div class="col-lg-12">
        <div class="footer__copy">2022 - 2023 © Dental Tooth Все права защищены</div>
      </div>
    </div>
  </div>
</section>
