<div class="modal">
  <div class="recall__form-modal">
    <div data-close class="modal__close">&times;</div>
    <div class="recall__title">Записаться на прием</div>
    <form data-form class="recall__table" action="#">
      <input name="name" placeholder="Ваше имя" type="text" />
      <input name="phone" placeholder="Ваш телефон" />
      <button class="btn__recall">Записаться на прием</button>
    </form>
    <p class="recall__info">
      Нажимая кнопку, я даю свое согласие на обработку моих персональных данных
    </p>
  </div>
</div>
