<section class="price">
  <div class="container h-100 text-center">
    <div class="row align-items-center h-100 price__main">
      <div class="col-lg-6">
        <div class="price__table">
          <div class="price__title">Стоимость лечения от</div>
          <div class="price__subtitle">Доступные цены на каждую процедуру</div>
          <ul class="price__services">
            <il class="price__service"
              ><div class="price__name">Отбеливание зубов</div>
              <div class="price__cost">120$</div>
            </il>
            <il class="price__service"
              ><div class="price__name">Имплантационная стоматология</div>
              <div class="price__cost">200$</div>
            </il>
            <il class="price__service"
              ><div class="price__name">Лечение десен</div>
              <div class="price__cost">80$</div>
            </il>
            <il class="price__service"
              ><div class="price__name">Дизайн улыбки</div>
              <div class="price__cost">160$</div>
            </il>
            <il class="price__service"
              ><div class="price__name">Сознательная седация</div>
              <div class="price__cost">200$</div>
            </il>
            <il class="price__service"
              ><div class="price__name">Апноэ во сне</div>
              <div class="price__cost">150$</div>
            </il>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <picture class="price__tooth d-none d-md-none d-lg-block">
          <source srcset="img/other/tooth_price.avif" type="image/avif" />
          <source srcset="img/other/tooth_price.webp" type="image/webp" />
          <img src="img/other/tooth_price.png" alt="price_tooth" />
        </picture>
      </div>
    </div>
  </div>
</section>
