<section class="recall">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-md-12 col-lg-6">
        <div class="recall__form">
          <h2 class="recall__title">Записаться на прием</h2>
          <form data-form class="recall__table" action="#">
            <input name="name" placeholder="Ваше имя" type="text" />
            <input name="phone" placeholder="Ваш телефон" />

            <button class="btn__recall">Записаться на прием</button>
          </form>
          <p class="recall__info">
            Нажимая кнопку, я даю свое согласие на обработку моих персональных данных
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="recall__img">
          <picture>
            <source srcset="img/other/recall_doctor.avif" type="image/avif" />
            <source srcset="img/other/recall_doctor.webp" type="image/webp" />
            <img src="img/other/recall_doctor.png" alt="recall_doctor" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
