<section id="reviews" class="reviews">
  <div class="container text-center h-100">
    <div class="row align-items-center h-100">
      <div class="col-lg-12 align-self-center">
        <div class="reviews__carousel">
          <div class="reviews__item">
            <h3 class="reviews__title">Что говорят наши клиенты</h3>
            <div class="reviews__wrapper">
              <div class="reviews__img">
                <picture>
                  <source srcset="img/reviews/reviews_1.avif" type="image/avif" />
                  <source srcset="img/reviews/reviews_1.webp" type="image/webp" />
                  <img src="img/reviews/reviews_1.png" alt="review_1" />
                </picture>
              </div>
              <p class="reviews__text">
                Отличная стоматология. Заболел зуб. Обратился в эту стоматологию. Качество
                обслуживания на высшем уровне. Сделали отбеливание зубов. Все отлично. Однозначно
                рекомендую.
              </p>
              <div class="reviews__sign">
                <div class="reviews__name">Алина Беляева</div>
                <div class="reviews__social">
                  <div class="reviews__icon">
                    <img src="img/reviews/twitter.svg" alt="twitter" />
                  </div>
                  <div class="reviews__icon">
                    <img src="img/reviews/vk.svg" alt="vk" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="reviews__item">
            <div class="reviews__title">Что говорят наши клиенты</div>
            <div class="reviews__wrapper">
              <div class="reviews__img">
                <picture>
                  <source srcset="img/reviews/reviews_2.avif" type="image/avif" />
                  <source srcset="img/reviews/reviews_2.webp" type="image/webp" />
                  <img src="img/reviews/reviews_2.png" alt="review_2" />
                </picture>
              </div>
              <p class="reviews__text">
                Врач София Грин просто супер профессионал! Всем советую это клинику, особенно, если
                боитесь стомотологов!
              </p>
              <div class="reviews__sign">
                <div class="reviews__name">Олег Фролов</div>
                <div class="reviews__social">
                  <div class="reviews__icon">
                    <img src="img/reviews/twitter.svg" alt="twitter" />
                  </div>
                  <div class="reviews__icon">
                    <img src="img/reviews/vk.svg" alt="vk" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="reviews__item">
            <div class="reviews__title">Что говорят наши клиенты</div>
            <div class="reviews__wrapper">
              <div class="reviews__img">
                <picture>
                  <source srcset="img/reviews/reviews_3.avif" type="image/avif" />
                  <source srcset="img/reviews/reviews_3.webp" type="image/webp" />
                  <img src="img/reviews/reviews_3.png" alt="review_1" />
                </picture>
              </div>
              <p class="reviews__text">
                Были на приёме у Марии Александровны. Понравился подход к ребёнку с первой минуты,
                ребёнок не испугался, сразу чувствуется профессионализм врача и опыт работы с
                детьми. Только положительные впечатления от приёма. Мария Александровна -
                профессионал высокого уровня.
              </p>
              <div class="reviews__sign">
                <div class="reviews__name">Сергей Иванов</div>
                <div class="reviews__social">
                  <div class="reviews__icon">
                    <img src="img/reviews/twitter.svg" alt="twitter" />
                  </div>
                  <div class="reviews__icon">
                    <img src="img/reviews/vk.svg" alt="vk" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
