<section id="services" class="services">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-md-12 col-lg-6 services__item">
        <div class="services__img">
          <picture>
            <source srcset="img/other/service_img.avif" type="image/avif" />
            <source srcset="img/other/service_img.webp" type="image/webp" />
            <img src="img/other/service_img.png" alt="Services" />
          </picture>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 services__item">
        <h2 class="services__title">Стоматологическая клиника <span>Dental Tooth</span></h2>
        <p class="services__descr">
          Мы предлагаем широкий спектр стоматологических услуг в общей клинике. Вам будет
          предоставлен комплексный план лечения до начала любых стоматологических услуг. Чтобы
          записаться на прием или узнать больше об услугах, доступных в стоматологической клинике,
          пожалуйста, позвоните по телефону
        </p>
        <div class="services__name">Мы предлагаем услуги:</div>
        <ul class="services__service">
          <li>Отбеливание зубов</li>
          <li>Апноэ во сне</li>
          <li>Лечение десен</li>
          <li>Дизайн улыбки</li>
        </ul>
      </div>
    </div>
  </div>
</section>
