<section class="specialists">
  <div class="container h-100 text-center">
    <div class="specialists__main">
      <h2 class="specialists__title">Наши специалисты</h2>
      <h3 class="specialists__subtitle">
        Мы построили нашу стоматологию на прочных опорах 22 хирургов MDS. В нашей команде работают
        опытные специалисты с многолетним опытом работы.
      </h3>
    </div>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-2 align-items-center justify-content-around"
    >
      <div class="specialists__item col-md-6 col-lg-3">
        <picture class="specialists__img">
          <source srcset="img/specialists/specialist_1.avif" type="image/avif" />
          <source srcset="img/specialists/specialist_1.webp" type="image/webp" />
          <img src="img/specialists/specialist_1.png" alt="specialist_1" />
        </picture>
        <div class="specialists__descr">
          <div class="specialists__name">Игорь Протопский</div>
          <div class="specialists__position">Стоматолог</div>
        </div>
      </div>
      <div class="specialists__item col-md-6 col-lg-3">
        <picture class="specialists__img">
          <source srcset="img/specialists/specialist_2.avif" type="image/avif" />
          <source srcset="img/specialists/specialist_2.webp" type="image/webp" />
          <img src="img/specialists/specialist_2.png" alt="specialist_1" />
        </picture>
        <div class="specialists__descr">
          <div class="specialists__name">Олег Григоревич</div>
          <div class="specialists__position">Стоматолог</div>
        </div>
      </div>
      <div class="specialists__item col-md-6 col-lg-3">
        <picture class="specialists__img">
          <source srcset="img/specialists/specialist_3.avif" type="image/avif" />
          <source srcset="img/specialists/specialist_3.webp" type="image/webp" />
          <img src="img/specialists/specialist_3.png" alt="specialist_1" />
        </picture>
        <div class="specialists__descr">
          <div class="specialists__name">София Грин</div>
          <div class="specialists__position">Стоматолог</div>
        </div>
      </div>
      <div class="specialists__item col-md-6 col-lg-3">
        <picture class="specialists__img">
          <source srcset="img/specialists/specialist_4.avif" type="image/avif" />
          <source srcset="img/specialists/specialist_4.webp" type="image/webp" />
          <img src="img/specialists/specialist_4.png" alt="specialist_1" />
        </picture>
        <div class="specialists__descr">
          <div class="specialists__name">Мария Александровна</div>
          <div class="specialists__position">Стоматолог</div>
        </div>
      </div>
    </div>
  </div>
</section>
