<section class="top">
  <div class="container h-100">
    <div class="top__wrapper">
      <div class="top__descr">
        <h1 class="top__header">Стоматологическая клиника Dental Tooth</h1>
        <h2 class="top__subheader">Безболезненное лечение зубов</h2>
        <div class="top__text">
          Талантливая команда стоматологов, признанных за высокое качество стоматологических
          процедур.
        </div>
        <div class="top__img_sm">
          <picture>
            <source srcset="img/other/intro_doctor.avif" type="image/avif" />
            <source srcset="img/other/intro_doctor.webp" type="image/webp" />
            <img src="img/other/intro_doctor.png" alt="Intro_doctor" />
          </picture>
          <button data-modal class="btn__top btn__top_sm">Записаться на прием</button>
        </div>
        <button data-modal class="btn__top">Записаться на прием</button>
      </div>
      <div class="top__img">
        <picture>
          <source srcset="img/other/intro_doctor.avif" type="image/avif" />
          <source srcset="img/other/intro_doctor.webp" type="image/webp" />
          <img src="img/other/intro_doctor.png" alt="Intro_doctor" />
        </picture>
      </div>
    </div>
  </div>
</section>
